apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.elasticsearch.name }}-config
  labels:
    app: {{ .Values.elasticsearch.name }}
data:
  elasticsearch.yml: |
    cluster.name: {{ .Values.elasticsearch.clusterName }}
    network.host: 0.0.0.0
    discovery.type: {{ .Values.elasticsearch.discoveryType }}
    xpack.security.enabled: true
    xpack.security.transport.ssl.enabled: false

  jvm.options: |
    -Xms{{ .Values.elasticsearch.heap }}
    -Xmx{{ .Values.elasticsearch.heap }}
