name: Build and Push Docker Image

on:
  push:
    paths:
      - "app/app.py"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          IMAGE_NAME=ghcr.io/ahmedovelshan/city-population-app
          TAG=$(echo "${GITHUB_SHA}" | cut -c1-7)
          docker build -t $IMAGE_NAME:$TAG -t $IMAGE_NAME:latest ./app

      - name: Push Docker image
        run: |
          IMAGE_NAME=ghcr.io/ahmedovelshan/city-population-app
          TAG=$(echo "${GITHUB_SHA}" | cut -c1-7)
          docker push $IMAGE_NAME:$TAG
          docker push $IMAGE_NAME:latest
